apiVersion: v1
kind: Service
metadata:
  labels:
    app: web-svc
  name: web-svc
spec:
  ports:
    - port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app: web-svc
status:
  loadBalancer: {}
